<section class="articles">
  <div class="container">
    <div class="articles__top">
      <div class="articles__top-info">
        <h2 class="articles__top-title heading-h2">Articles</h2>
        <p class="articles__top-text text-p-medium">
          Complex tech decoded by engineers, business trends analyzed by
          experts.
        </p>
      </div>
      <div class="articles__nav">
        <div class="articles__button-prev">
          <svg
            width="16"
            height="13"
            viewBox="0 0 16 13"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M7.73659 12.5364C7.38512 12.8879 6.81527 12.8879 6.4638 12.5364L1.0638 7.13638C0.712326 6.78491 0.712326 6.21506 1.0638 5.86359L6.4638 0.463591C6.81527 0.112118 7.38512 0.112118 7.73659 0.463591C8.08806 0.815062 8.08806 1.38491 7.73659 1.73638L3.87299 5.59999L14.3002 5.59999C14.7973 5.59999 15.2002 6.00293 15.2002 6.49999C15.2002 6.99704 14.7973 7.39999 14.3002 7.39999L3.87299 7.39999L7.73659 11.2636C8.08806 11.6151 8.08806 12.1849 7.73659 12.5364Z"
              fill="black"
            />
          </svg>
        </div>
        <div class="articles__button-next">
          <svg
            width="16"
            height="13"
            viewBox="0 0 16 13"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.26341 0.463616C8.61488 0.112144 9.18473 0.112144 9.5362 0.463616L14.9362 5.86362C15.2877 6.21509 15.2877 6.78494 14.9362 7.13641L9.5362 12.5364C9.18473 12.8879 8.61488 12.8879 8.26341 12.5364C7.91194 12.1849 7.91194 11.6151 8.26341 11.2636L12.127 7.40001L1.69981 7.40001C1.20275 7.40001 0.799805 6.99707 0.799805 6.50001C0.799805 6.00296 1.20275 5.60001 1.69981 5.60001H12.127L8.26341 1.73641C7.91194 1.38494 7.91194 0.815088 8.26341 0.463616Z"
              fill="black"
            />
          </svg>
        </div>
      </div>
    </div>
    <div class="swiper articles__slider">
      <div class="swiper-wrapper articles__slider-wrapper">
        <div class="swiper-slide articles__slide">
          <div class="articles__slide-img">
            <img
              loading="lazy"
              src="./assets/image/articles-slide-img-1.jpeg"
              width="405"
              height="577"
              alt="Man and woman in front of computer"
            />
          </div>
          <h2 class="article__slide-title heading-h5">
            List of UX Designer Portfolio / Case Studies where you can make
            money
          </h2>
          <p class="articles__slide-text text-p-medium">
            Here are some portfolios / Case Studies from UX Designers that you
            can use as a reference for creating a portfolio. Two interesting
            things from their portfolio are:
          </p>
          <a class="articles__slide-btn button text-p-default" href="#">
            Read More
          </a>
        </div>
        <div class="swiper-slide articles__slide">
          <div class="articles__slide-img">
            <img
              loading="lazy"
              src="./assets/image/articles-slide-img-2.jpeg"
              width="405"
              height="577"
              alt="Man and woman high-fiving each other"
            />
          </div>
          <h2 class="article__slide-title heading-h5">
            Skyrocketing in The Designing Career, Why Not?
          </h2>
          <p class="articles__slide-text text-p-medium">
            Ever thought of jumping into the world of design as a career? If
            not, you may want to look at what the word ‘design’ actually means.
            Design is a method of designing aesthetic actions that are carried
            out.
          </p>
          <a class="articles__slide-btn button text-p-default" href="#">
            Read More
          </a>
        </div>
        <div class="swiper-slide articles__slide">
          <div class="articles__slide-img">
            <img
              loading="lazy"
              src="./assets/image/articles-slide-img-3.jpeg"
              width="405"
              height="577"
              alt="Man and woman watching presentation"
            />
          </div>
          <h2 class="article__slide-title heading-h5">
            Elements that may be missed when designing the UI
          </h2>
          <p class="articles__slide-text text-p-medium">
            This is an article that talks about the little elements that are
            often overlooked when designing UI.
          </p>
          <a class="articles__slide-btn button text-p-default" href="#">
            Read More
          </a>
        </div>
        <div class="swiper-slide articles__slide">
          <div class="articles__slide-img">
            <img
              loading="lazy"
              src="./assets/image/articles-slide-img-1.jpeg"
              width="405"
              height="577"
              alt="Man and woman in front of computer"
            />
          </div>
          <h2 class="article__slide-title heading-h5">
            List of UX Designer Portfolio / Case Studies where you can make
            money
          </h2>
          <p class="articles__slide-text text-p-medium">
            Here are some portfolios / Case Studies from UX Designers that you
            can use as a reference for creating a portfolio. Two interesting
            things from their portfolio are:
          </p>
          <a class="articles__slide-btn button text-p-default" href="#">
            Read More
          </a>
        </div>
        <div class="swiper-slide articles__slide">
          <div class="articles__slide-img">
            <img
              loading="lazy"
              src="./assets/image/articles-slide-img-2.jpeg"
              width="405"
              height="577"
              alt="Man and woman high-fiving each other"
            />
          </div>
          <h2 class="article__slide-title heading-h5">
            Skyrocketing in The Designing Career, Why Not?
          </h2>
          <p class="articles__slide-text text-p-medium">
            Ever thought of jumping into the world of design as a career? If
            not, you may want to look at what the word ‘design’ actually means.
            Design is a method of designing aesthetic actions that are carried
            out.
          </p>
          <a class="articles__slide-btn button text-p-default" href="#">
            Read More
          </a>
        </div>
        <div class="swiper-slide articles__slide">
          <div class="articles__slide-img">
            <img
              loading="lazy"
              src="./assets/image/articles-slide-img-3.jpeg"
              width="405"
              height="577"
              alt="Man and woman watching presentation"
            />
          </div>
          <h2 class="article__slide-title heading-h5">
            Elements that may be missed when designing the UI
          </h2>
          <p class="articles__slide-text text-p-medium">
            This is an article that talks about the little elements that are
            often overlooked when designing UI.
          </p>
          <a class="articles__slide-btn button text-p-default" href="#">
            Read More
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
