<section class="catalog">
  <div class="container">
    <ul class="catalog__cards">
      <li class="catalog__cards-item">
        <div class="catalog__cards-image">
          <img
            loading="lazy"
            src="./assets/image/catalog-card-img-1.jpeg"
            width="584"
            alt="A chair near to table"
          />
        </div>
        <h3 class="catalog__cards-title heading-h3">
          <a class="catalog__cards-link" href="#">
            How we perform long-running tasks using AWS services
          </a>
        </h3>
        <p class="catalog__cards-text text-p-medium">
          Webflow is web design tool as well as a hosting platform and CMS all
          in one. While you are probably familiar with all of these, they are
          usually entirely separate tools.
        </p>
      </li>
      <li class="catalog__cards-item">
        <div class="catalog__cards-image">
          <img
            loading="lazy"
            src="./assets/image/catalog-card-img-2.jpeg"
            width="584"
            alt="Three mans talking"
          />
        </div>
        <h3 class="catalog__cards-title heading-h3">
          <a class="catalog__cards-link" href="#">
            How we perform long-running tasks using AWS services
          </a>
        </h3>
        <p class="catalog__cards-text text-p-medium">
          Webflow is web design tool as well as a hosting platform and CMS all
          in one. While you are probably familiar with all of these, they are
          usually entirely separate tools.
        </p>
      </li>
      <li class="catalog__cards-item">
        <div class="catalog__cards-image">
          <img
            loading="lazy"
            src="./assets/image/catalog-card-img-3.jpeg"
            width="584"
            alt="A man talking to a man that is hidden"
          />
        </div>
        <h3 class="catalog__cards-title heading-h3">
          <a class="catalog__cards-link" href="#">
            How we perform long-running tasks using AWS services
          </a>
        </h3>
        <p class="catalog__cards-text text-p-medium">
          Webflow is web design tool as well as a hosting platform and CMS all
          in one. While you are probably familiar with all of these, they are
          usually entirely separate tools.
        </p>
      </li>
      <li class="catalog__cards-item">
        <div class="catalog__cards-image">
          <img
            loading="lazy"
            src="./assets/image/catalog-card-img-4.jpeg"
            width="584"
            alt="A man making performance"
          />
        </div>
        <h3 class="catalog__cards-title heading-h3">
          <a class="catalog__cards-link" href="#">
            How we perform long-running tasks using AWS services
          </a>
        </h3>
        <p class="catalog__cards-text text-p-medium">
          Webflow is web design tool as well as a hosting platform and CMS all
          in one. While you are probably familiar with all of these, they are
          usually entirely separate tools.
        </p>
      </li>
    </ul>
  </div>
</section>
