<section class="hero hero-decor">
  <div class="container">
    <div class="hero__top">
      <h2 class="hero__title heading-h1">Activity & Updates</h2>
      <p class="hero__subtitle text-p-subtitle">
        Our biggest challenge is making sure we're always designing and building
        products that will help you run your business better.
      </p>
      <ul class="tab-controls">
        <li class="tab-controls__item">
          <a
            class="tab-controls__link text-p-default tab-controls__link--active"
            href="#tab1"
          >
            View all
          </a>
        </li>
        <li class="tab-controls__item">
          <a class="tab-controls__link text-p-default" href="#tab2"> Design </a>
        </li>
        <li class="tab-controls__item">
          <a class="tab-controls__link text-p-default" href="#tab3">
            Articles
          </a>
        </li>
        <li class="tab-controls__item">
          <a class="tab-controls__link text-p-default" href="#tab4">
            Product
          </a>
        </li>
        <li class="tab-controls__item">
          <a class="tab-controls__link text-p-default" href="#tab5">
            Software Development
          </a>
        </li>
        <li class="tab-controls__item">
          <a class="tab-controls__link text-p-default" href="#tab6">
            Customer Success
          </a>
        </li>
      </ul>
    </div>
    <div class="hero__tab-content tab-content tab-content--show" id="tab1">
      <div class="tab__container">
        <div class="swiper about__hero-slider">
          <div class="swiper-wrapper about__hero-wrapper">
            <div class="swiper-slide about-hero-slide">
              <div class="about__hero-slide-img">
                <img
                  loading="lazy"
                  src="./assets/image/about-hero-slide-1.jpeg"
                  width="515"
                  height="645"
                  alt="Woman sipping coffe in front of laptop"
                />
              </div>
              <div class="about__hero-slide-top">
                <p class="about__hero-slide-subtitle text-p-small">
                  <time datetime="2021-30-01"
                    >Published in Insight Jan 30, 2021</time
                  >
                </p>
                <p class="about__hero-slide-author text-p-small">
                  by : Albert Sans
                </p>
              </div>
              <h4 class="about__hero-slide-title">Practice making User Flow</h4>
              <p class="about__hero-slide-text">
                In this article, we'll cover how to create user flows
              </p>
            </div>
            <div class="swiper-slide about-hero-slide">
              <div class="about__hero-slide-img">
                <img
                  loading="lazy"
                  src="./assets/image/about-hero-slide-2.jpeg"
                  width="515"
                  height="645"
                  alt="Women sitting front of laptop"
                />
              </div>
              <div class="about__hero-slide-top">
                <p class="about__hero-slide-subtitle text-p-small">
                  <time datetime="2021-30-01"
                    >Published in Insight Jan 30, 2021</time
                  >
                </p>
                <p class="about__hero-slide-author text-p-small">
                  by : Albert Sans
                </p>
              </div>
              <h4 class="about__hero-slide-title">
                Overview of the Design Principles
              </h4>
              <p class="about__hero-slide-text">
                What are Design Principles?… To understand design principles, we
                first discuss the principles.
              </p>
            </div>
            <div class="swiper-slide about-hero-slide">
              <div class="about__hero-slide-img">
                <img
                  loading="lazy"
                  src="./assets/image/about-hero-slide-4.jpeg"
                  width="515"
                  height="645"
                  alt="Man and woman are laughing"
                />
              </div>
              <div class="about__hero-slide-top">
                <p class="about__hero-slide-subtitle text-p-small">
                  <time datetime="2021-30-01"
                    >Published in Insight Jan 30, 2021</time
                  >
                </p>
                <p class="about__hero-slide-author text-p-small">
                  by : Albert Sans
                </p>
              </div>
              <h4 class="about__hero-slide-title">
                Using Grid in website design
              </h4>
              <p class="about__hero-slide-text">
                Andi: "What's the grid like?" Toni: “Like below…”
              </p>
            </div>
            <div class="swiper-slide about-hero-slide">
              <div class="about__hero-slide-img">
                <img
                  loading="lazy"
                  src="./assets/image/about-hero-slide-1.jpeg"
                  width="515"
                  height="645"
                  alt="Woman sipping coffe in front of laptop"
                />
              </div>
              <div class="about__hero-slide-top">
                <p class="about__hero-slide-subtitle text-p-small">
                  <time datetime="2021-30-01"
                    >Published in Insight Jan 30, 2021</time
                  >
                </p>
                <p class="about__hero-slide-author text-p-small">
                  by : Albert Sans
                </p>
              </div>
              <h4 class="about__hero-slide-title">Practice making User Flow</h4>
              <p class="about__hero-slide-text">
                In this article, we'll cover how to create user flows
              </p>
            </div>
            <div class="swiper-slide about-hero-slide">
              <div class="about__hero-slide-img">
                <img
                  loading="lazy"
                  src="./assets/image/about-hero-slide-2.jpeg"
                  width="515"
                  height="645"
                  alt="Women sitting front of laptop"
                />
              </div>
              <div class="about__hero-slide-top">
                <p class="about__hero-slide-subtitle text-p-small">
                  <time datetime="2021-30-01"
                    >Published in Insight Jan 30, 2021</time
                  >
                </p>
                <p class="about__hero-slide-author text-p-small">
                  by : Albert Sans
                </p>
              </div>
              <h4 class="about__hero-slide-title">
                Overview of the Design Principles
              </h4>
              <p class="about__hero-slide-text">
                What are Design Principles?… To understand design principles, we
                first discuss the principles.
              </p>
            </div>
            <div class="swiper-slide about-hero-slide">
              <div class="about__hero-slide-img">
                <img
                  loading="lazy"
                  src="./assets/image/about-hero-slide-4.jpeg"
                  width="515"
                  height="645"
                  alt="Man and woman are laughing"
                />
              </div>
              <div class="about__hero-slide-top">
                <p class="about__hero-slide-subtitle text-p-small">
                  <time datetime="2021-30-01"
                    >Published in Insight Jan 30, 2021</time
                  >
                </p>
                <p class="about__hero-slide-author text-p-small">
                  by : Albert Sans
                </p>
              </div>
              <h4 class="about__hero-slide-title">
                Using Grid in website design
              </h4>
              <p class="about__hero-slide-text">
                Andi: "What's the grid like?" Toni: “Like below…”
              </p>
            </div>
          </div>
          <div class="about__slider-scrollbar"></div>
        </div>
      </div>
    </div>
    <div class="hero__tab-content tab-content" id="tab2">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore et eaque
      ullam eius natus labore, ipsam saepe facere, dolorum laborum similique
      ipsa eveniet ea assumenda dolorem minus nostrum, iste asperiores. Neque,
      consectetur nisi, illum quod eaque animi provident earum incidunt unde
      perferendis expedita. Sed aspernatur quaerat illo enim libero earum,
      maxime dolorum deleniti labore voluptatem iste cumque accusamus quibusdam
      aliquam, quia veniam ducimus placeat at. Sequi, enim odio. Unde aperiam
      reprehenderit alias tempora assumenda libero eveniet consectetur quidem
      autem repellendus consequuntur, quod totam nemo ea fuga quam optio,
      molestiae quis praesentium dicta sequi expedita. Ex consectetur enim natus
      rem eaque?
    </div>
    <div class="hero__tab-content tab-content" id="tab3">
      <img src="./assets/image/join-belief-slide-2.jpeg" alt="" />
    </div>
    <div class="hero__tab-content tab-content" id="tab4">
      <img src="./assets/image/join-belief-slide-3.jpeg" alt="" />
    </div>
    <div class="hero__tab-content tab-content" id="tab5">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto facere
      sed libero quia inventore at laborum eum, dolores est odit. Amet eum
      aperiam provident possimus iste culpa quis. Deserunt, est animi, illum,
      asperiores fugit cumque deleniti quisquam eum optio cupiditate voluptatum
      dolorum assumenda debitis accusantium sapiente ipsa vel officia nisi quos
      velit sit corrupti voluptas? Ducimus, neque. Necessitatibus soluta quasi
      iste nostrum atque reiciendis fugit nihil accusantium laboriosam
      voluptates illum corrupti delectus, quibusdam, quis cupiditate harum
      commodi reprehenderit tenetur quaerat molestias? Totam assumenda
      consectetur laudantium fuga expedita sed, ipsum sequi quidem aliquam
      alias. Similique, quae sed, veniam odit nemo mollitia saepe quibusdam
      minima molestiae veritatis molestias enim dignissimos quo dolorum! Quidem,
      modi perspiciatis quos minima, nulla perferendis nam nihil culpa tempore
      impedit esse, ab asperiores iusto cumque expedita ipsa consequatur rem in
      at assumenda tempora quia voluptate quo! Voluptatum, similique? Rem
      obcaecati quae placeat vero, iure provident ipsa distinctio accusamus vel
      doloribus veniam amet in earum praesentium cupiditate libero inventore
      magnam necessitatibus at voluptatem nihil architecto? Porro voluptas quod
      obcaecati, a nostrum maiores natus dolorum nisi fugiat laboriosam maxime
      dolorem similique officia vel dolore deserunt saepe labore sed, beatae at
      aliquid. Ex perspiciatis maxime ipsa sint iusto commodi doloribus
      necessitatibus?
    </div>
    <div class="hero__tab-content tab-content" id="tab6">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae,
      esse eos laudantium doloremque facere ipsa. Recusandae eveniet voluptate
      tempora minus dignissimos. Ab voluptates nesciunt consequatur quos,
      laudantium iusto doloremque dicta!
    </div>
  </div>
</section>
