<section class="belief">
  <div class="container belief__container">
    <div class="belief__content">
      <div class="swiper belief__slider">
        <div class="swiper-wrapper belief__slider-wrapper">
          <div class="swiper-slide belief__slide">
            <img
              loading="lazy"
              src="./assets/image/join-belief-slide-1.jpeg"
              width="502"
              height="609"
              alt="Man typing on laptop"
            />
          </div>
          <div class="swiper-slide belief__slide">
            <img
              loading="lazy"
              src="./assets/image/join-belief-slide-2.jpeg"
              width="502"
              height="370"
              alt="Man performs on a conference"
            />
            <div class="belief__slide-info">
              <h4 class="belief__slide-title heading-h5">What we believe in</h4>
              <p class="belief__slide-text text-p-medium">
                Over the years at Sans, we’ve put a lot of thought into what it is
                that makes us who we are. The qualities that unite us, that make
                us such an effective team, and...
              </p>
              <a class="belief__slide-btn button" href="#">See Details -></a>
            </div>
          </div>
          <div class="swiper-slide belief__slide">
            <img
              loading="lazy"
              src="./assets/image/join-belief-slide-3.jpeg"
              alt="Woman typing on a laptop"
            />
          </div>
          <div class="swiper-slide belief__slide">
            <img
              loading="lazy"
              src="./assets/image/join-belief-slide-1.jpeg"
              width="502"
              height="609"
              alt="Man typing on laptop"
            />
          </div>
          <div class="swiper-slide belief__slide">
            <img
              loading="lazy"
              src="./assets/image/join-belief-slide-2.jpeg"
              width="502"
              height="370"
              alt="Man performs on a conference"
            />
            <div class="belief__slide-info">
              <h4 class="belief__slide-title heading-h5">What we believe in</h4>
              <p class="belief__slide-text text-p-medium">
                Over the years at Sans, we’ve put a lot of thought into what it is
                that makes us who we are. The qualities that unite us, that make
                us such an effective team, and...
              </p>
              <a class="belief__slide-btn button" href="#">See Details -></a>
            </div>
          </div>
          <div class="swiper-slide belief__slide">
            <img
              loading="lazy"
              src="./assets/image/join-belief-slide-3.jpeg"
              alt="Woman typing on a laptop"
            />
          </div>
        </div>
        <div class="belief__slider-scrollbar"></div>
      </div>
    </div>
  </div>
</section>
